.weather-card {
    background: linear-gradient(to bottom right, #4a90e2, #63b8ff);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .weather-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .weather-icon {
    margin-right: 20px;
  }
  
  .weather-details {
    flex-grow: 1;
  }
  
  .weather-status {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .temperature {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .weather-stats {
    display: flex;
    justify-content: space-between;
  }
  
  .stat {
    display: flex;
    align-items: center;
  }
  
  .stat i {
    margin-right: 5px;
  }